# Secrets
.env
serviceAccountKey.json

# Python Cache
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# IDE Settings
.vscode/
.idea/

# OS files
.DS_Store
static

# Misc
clean_full.py
make_admin.py
recover_order.py